{% extends '::base.html.twig' %}


{% block body %}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">Cyril Barragan <small>WaterProof</small></h1>
        <ul class="pull-right breadcrumb">
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li><a href="{{ path('team') }}">Co-workers</a></li>
            <li class="active">Cyril Barragan</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<!--=== Content Part ===-->
<div class="container">
    <div class="row team ">
        <div class="col-md-5">
            <div class="thumbnail-style">
                <img alt="" src="{{( '/bundles/capitaineriecore/images/cb.jpg'| apply_filter('presentation')) }}" class="img-responsive">
                <h3><a>Cyril Barragan</a> <small>Développeur web - WaterProof</small></h3>
                <p>Travaille pour la société WaterProof depuis Novembre 2012.</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="https://twitter.com/cyrilbarragan"><i class="icon-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="margin-bottom-10"></div>
            <p>Autodidacte, j'ai rejoint la société Waterproof en novembre 2012. J'aime créer et appréhender les outils et les techniques qui me permettent de construire une application plus rapidement et de façon sécurisée. Je m'intéresse tout particulièrement aux projets Open Source.</p><br>
            <div class="tag-box tag-box-v1">
            	<h2>Pourquoi Coworker?</h2>
                <p>Je pense que travailler avec des personnes extérieures à son environnement habituel permet d'échanger et de découvrir d'autres horizons professionnels.</p>
            </div>
<!--             <div class="carousel slide testimonials testimonials-v1" id="testimonials-3">
                <div class="carousel-inner">
                    <div class="item active">
                        <p>Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..</p>
                        <div class="testimonial-info">
                            <img alt="" src="/assets/img/testimonials/img2.jpg">
                            <span class="testimonial-author">
                                Jenny Lawiso
                                <em>Web Developer, Unify Theme.</em>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <p>Ducimusqui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..</p>
                        <div class="testimonial-info">
                            <img alt="" src="/assets/img/testimonials/img1.jpg">
                            <span class="testimonial-author">
                                User
                                <em>Java Developer, Htmlstream</em>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <p>Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..</p>
                        <div class="testimonial-info">
                            <img alt="" src="/assets/img/testimonials/user.jpg">
                            <span class="testimonial-author">
                                Kate Davenport
                                <em>Web Designer, Google Inc.</em>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#testimonials-3" class="left carousel-control">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#testimonials-3" class="right carousel-control">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div> -->
        </div>
    </div>

</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}