{% extends '::base.html.twig' %}

{% block body %}


<!--=== Content Part ===-->
<div class="container">
	<div class="margin-bottom-20"></div>
	<div class="row">
			{#
            <div class="headline"><h2>Questions fréquentes</h2></div>
            #}
            <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                C'est quoi le coworking ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Le coworking est un mouvement né en 2005 du désir de nombreux freelances et entrepreneurs de se rassembler pour améliorer leurs conditions de travail et de la prise de conscience que, s'il était devenu techniquement possible de travailler depuis n'importe où, avoir un lieu de travail restait fondamental. La valeur ajoutée d'un espace de travail n'est pas simplement de permettre la rencontre entre les hommes et les outils de production, c'est aussi la création d'un écosystème qui facilite l'activité de chacun. Le coworking conjugue le meilleur de l'environnement professionnel avec la liberté et l'indépendance de ceux qui travaillent à leur compte.</p>
                            <p>Aujourd'hui, le coworking est un mouvement de plusieurs centaines d'espaces et de plusieurs milliers de membres à travers le monde. Un mouvement uni par des valeurs, qui s'organise collectivement et se réunit régulièrement aux quatre coins du monde.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Pourquoi coworker ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                        	<p>Parce que réussir ses projets, mener à bien ses entreprises, être créatif et déterminé ce n'est pas seulement une question de talent individuel, cela dépend également de son environnement. Les espaces de coworking existent pour procurer aux freelances et aux entrepreneurs cet écosystème favorable, ce terreau fertile nécessaire au succès et à l'innovation.</p>
                        	<p>Un environnement porteur, ça commence par des bons outils de travail, un lieu calme, tranquille, agréable équipé de tous les outils nécessaires (Connexion internet et imprimante/scanner professionnelle, salles de réunion, écrans 22 pouces, téléphone fixe…)</p>
                        	<p>L'environnement humain joue aussi un rôle majeur. Etre entouré d'un réseau de personnes ayant des compétences différentes et complémentaires c'est bénéficier d'une véritable caisse de résonance pour vos projets et c'est sortir d'une relation parfois trop exclusive avec son activité.</p>
                        	<p>Enfin, l'atmosphère générale d'un lieu ouvert, énergique, libre et créatif se répercute positivement sur vous et vos projets.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Comment les coworkers font-ils connaissances dans l'espace ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Un coworker qui franchit les portes de la Capitainerie pour la première fois peut légitimement se demander comment il pourra entrer en contact avec les autres membres de l'équipage. Travailler à proximité de personnes inconnues qui mènent chacun leurs projets peut en dérouter plus d'un.</p>
                            <p>Mais puisqu'il serait dommage de se priver des bienfaits des contacts humains, nous faisons le maximum pour faciliter les rencontres entre coworkers. Celles-ci sont de plusieurs types ; les évènements spontanés, les évènements ponctuels et les rendez-vous réguliers.</p>
                            <ul>
								<li>Les évènements spontanés sont les plus fréquents et les meilleurs moyens de rencontrer d'autres capitaines au quotidien. Il peut s'agir de discussions autour d'un café ou d'un déjeuner passé ensemble, de discussions informelles et naturelles. La zone café est spécifiquement dessinée pour fluidifier ces contacts.</li>
	                            <li>Les évènements ponctuels peuvent prendre la forme de formations ou d'ateliers organisés par la communauté. Ils rassemblent les coworkers autours de leurs centres d'intérêts.</li>
	                            <li>Enfin nous organisons régulièrement des évènements qui permettent à tous de présenter leur activité et qui facilitent les contacts.</li>
							</ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                Peut-on tester la Capitainerie avant de s'engager ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Bien sûr ! Tu peux juste acheter un ticket pour la &frac12; ou la journée. Enfin, pour tâter le terrain en douceur, pourquoi ne pas t' inscrire à l'un des nombreux évènements qui ont lieu à la Capitainerie ?
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                Comment m'inscrire à la Capitainerie ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                           À la Capitainerie, on aime faire les choses simplement. Pas de dossier préalable, pas de dépôt de garantie, pas de paperasse. Pour vous inscrire, le mieux est encore de nous <a href="{{ path('contact') }}">contacter</a> et de nous rendre visite équipé d'un moyen de paiement et d'une pièce d'identité. Rien de plus.
                        </div>
                    </div>
                </div>


            </div><!--/acc-v1-->
            <!-- End General Questions -->




    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}