<li data-transition="flyin" data-slotamount="1" data-masterspeed="300" data-thumb="/assets/img/sliders/revolution/thumbs/thumb4.jpg">

                <!-- THE MAIN IMAGE IN THE FOURTH SLIDE -->
                <img src="{{( '/assets/img/sliders/revolution/bg4.jpg'| apply_filter('small')) }}" >

                <div class="caption lfb boxshadow"
                     data-x="20"
                     data-y="120"
                     data-speed="900"
                     data-start="500"
                     data-easing="easeOutBack">
                     <iframe src="http://player.vimeo.com/video/54035990?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <div class="caption sft big_black"
                     data-x="570"
                     data-y="120"
                     data-speed="300"
                     data-start="1200"
                     data-easing="easeOutExpo">
                     Video Support
                </div>

                <div class="caption sft big_white"
                     data-x="570"
                     data-y="162"
                     data-speed="300"
                     data-start="1300"
                     data-easing="easeOutExpo">
                     Vimeo Example
                </div>

                <div class="caption lfb medium_grey"
                     data-x="570"
                     data-y="215"
                     data-speed="300"
                     data-start="1400"
                     data-easing="easeOutExpo">
                     You can easily add
                </div>

                <div class="caption lfb medium_grey"
                     data-x="570"
                     data-y="240"
                     data-speed="300"
                     data-start="1500"
                     data-easing="easeOutExpo">
                     Vimeo & Youtube Videos
                </div>

                <div class="caption lfb medium_grey"
                     data-x="570"
                     data-y="265"
                     data-speed="300"
                     data-start="1600"
                     data-easing="easeOutExpo">
                     to your Slides
                </div>
            </li>