<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="/assets/img/sliders/revolution/thumbs/thumb2.jpg">

    <!-- THE MAIN IMAGE IN THE SECOND SLIDE -->
    <img src="/assets/img/sliders/revolution/bg2.jpg">

    <div class="caption very_big_white lfl stl"
         data-x="18"
         data-y="343"
         data-speed="300"
         data-start="500"
         data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">
         DIFFERENTS ESPACES
    </div>

    <div class="caption big_white lfl stl"
         data-x="18"
         data-y="390"
         data-speed="300"
         data-start="800"
         data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">
         POUR CORRESPONDRE A VOTRE HUMEUR ET STYLE
    </div>

    <div class="caption lft ltb"
         data-x="600"
         data-y="0"
         data-speed="600"
         data-start="1100"
         data-easing="easeOutExpo" data-end="3100" data-endspeed="600" data-endeasing="easeInSine">
         <img src="/assets/img/sliders/revolution/drink2.jpg" alt="Image 3">
    </div>

    <div class="caption bold_green_text sft stb"
         data-x="760"
         data-y="290"
         data-speed="300"
         data-start="1400"
         data-easing="easeOutExpo" data-end="3300" data-endspeed="300" data-endeasing="easeInSine">
         PRADA
    </div>

    <div class="caption big_black sfb stb"
         data-x="780"
         data-y="320"
         data-speed="300"
         data-start="1700"
         data-easing="easeOutExpo" data-end="3200" data-endspeed="300" data-endeasing="easeInSine">
         $ 128
    </div>

    <div class="caption lft ltb"
         data-x="600"
         data-y="0"
         data-speed="600"
         data-start="3600"
         data-easing="easeOutExpo" data-end="5600" data-endspeed="600" data-endeasing="easeInSine">
         <img src="/assets/img/sliders/revolution/drink1.jpg" alt="Image 6">
    </div>

    <div class="caption bold_brown_text sft stb"
         data-x="760"
         data-y="290"
         data-speed="300"
         data-start="3900"
         data-easing="easeOutExpo" data-end="5800" data-endspeed="300" data-endeasing="easeInSine" >
         Dolce & Gabbana
    </div>

    <div class="caption big_black sfb stb"
         data-x="780"
         data-y="320"
         data-speed="300"
         data-start="4200"
         data-easing="easeOutExpo" data-end="5700" data-endspeed="300" data-endeasing="easeInSine">
         $ 116
    </div>

    <div class="caption lft ltb"
         data-x="600"
         data-y="0"
         data-speed="600"
         data-start="6100"
         data-easing="easeOutExpo" data-end="8100" data-endspeed="300" data-endeasing="easeInSine">
         <img src="/assets/img/sliders/revolution/drink3.jpg" alt="Image 9">
    </div>

    <div class="caption bold_red_text sft stb"
         data-x="760"
         data-y="290"
         data-speed="300"
         data-start="6400"
         data-easing="easeOutExpo" data-end="8300" data-endspeed="300" data-endeasing="easeInSine">
         L'EAU DE CHLOE
    </div>

    <div class="caption big_black sfb stb"
         data-x="780"
         data-y="320"
         data-speed="300"
         data-start="6700"
         data-easing="easeOutExpo" data-end="8200" data-endspeed="300" data-endeasing="easeInSine">
         $ 142
    </div>
</li>