<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300" data-thumb="/assets/img/sliders/revolution/thumbs/thumb3.jpg">

    <!-- THE MAIN IMAGE IN THE THIRD SLIDE -->
    {#TODO: Changer l'image de fond.#}
    <img src="{{( '/bundles/capitaineriecore/images/cw-background.png'| apply_filter('small')) }}" >

    <div class="caption large_text sft"
         data-x="10"
         data-y="44"
         data-speed="300"
         data-start="800"
         data-easing="easeOutExpo">
         La première journée
    </div>

    <div class="caption medium_text sfl"
         data-x="39"
         data-y="82"
         data-speed="300"
         data-start="1100"
         data-easing="easeOutExpo">
         est
    </div>

    <div class="caption large_text sfr"
         data-x="88"
         data-y="78"
         data-speed="300"
         data-start="1100"
         data-easing="easeOutExpo">
         <span style="color: #72c02c;">OFFERTE</span>
    </div>

    <div class="caption lfl"
         data-x="10"
         data-y="150"
         data-speed="800"
         data-start="900"
         data-easing="easeOutExpo">
         <img src="/assets/img/sliders/revolution/imac.png" alt="Image 4">
    </div>

    <div class="caption lfl"
         data-x="210"
         data-y="245"
         data-speed="600"
         data-start="1000"
         data-easing="easeOutExpo">
         <img src="/assets/img/sliders/revolution/ipad.png" alt="Image 5">
    </div>

    <div class="caption lfl"
         data-x="322"
         data-y="313"
         data-speed="400"
         data-start="1100"
         data-easing="easeOutExpo">
         <img src="/assets/img/sliders/revolution/iphone.png" alt="Image 6">
    </div>

    <div class="caption lft"
         data-x="500"
         data-y="130"
         data-speed="300"
         data-start="500"
         data-easing="easeOutExpo">
         <img src="/assets/img/sliders/revolution/html5andcss3.png" alt="Image 6">
    </div>
</li>